.course-page,
.course-page * {
  box-sizing: border-box;
}
.course-page {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.nav {
  flex-shrink: 0;
  width: 1440px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.vertical-divider {
  background: #aeaeae;
  width: 1px;
  height: 24.26%;
  position: absolute;
  left: 119.13px;
  bottom: 13.59%;
  top: 62.16%;
}
.vertical-divider2 {
  background: #aeaeae;
  width: 1px;
  height: 24.26%;
  position: absolute;
  left: 119.13px;
  bottom: 11.56%;
  top: 64.18%;
}
.vector {
  width: 1.18%;
  height: 17.08%;
  position: absolute;
  right: 4.63%;
  left: 94.19%;
  bottom: 69.79%;
  top: 13.13%;
  overflow: visible;
}
.vector2 {
  width: 0.88%;
  height: 17.69%;
  position: absolute;
  right: 1.26%;
  left: 97.87%;
  bottom: 69.16%;
  top: 13.15%;
  overflow: visible;
}
.crs-training {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 63.5px;
  width: 83.46px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.crs-training-span {
  color: #262626;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.crs-training-span2 {
  color: #262626;
  font-family: "IbmPlexSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.cyber-security-companies-cyber-security-network-security-cybersecurity-for-beginners-near-me-crs-za-2-1 {
  width: 65px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.list-ibm-platform-name {
  width: 1319px;
  height: 51px;
  position: absolute;
  left: 121px;
  top: 49px;
  overflow: hidden;
}
.item-link-menu-start-training {
  background: #ffffff;
  position: absolute;
  right: 1160.7px;
  left: 14.1298828125px;
  bottom: 1px;
  top: 3px;
}
.home {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 14.5px;
  width: 84.5px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 110.17px;
  top: calc(50% - 8px);
  overflow: visible;
}
.item-menuitem {
  background: #ffffff;
  position: absolute;
  right: 923.67px;
  left: 237.65988159179688px;
  bottom: 1px;
  top: 3px;
}
.container {
  height: 18px;
  position: absolute;
  right: 18px;
  left: 18px;
  top: calc(50% - 9px);
  overflow: hidden;
}
.solution {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 122.06px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 61.34px;
  top: calc(50% - 6.5px);
  overflow: visible;
}
.item-menuitem2 {
  background: #ffffff;
  position: absolute;
  right: 815.94px;
  left: 395.32989501953125px;
  bottom: 1px;
  top: 3px;
}
.traning {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 14.5px;
  width: 72.04px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 73.67px;
  top: calc(50% - 7.5px);
  overflow: visible;
}
.item-link-menu-partner-plus-learning-hub {
  background: #ffffff;
  position: absolute;
  right: 592.31px;
  left: 503.05987548828125px;
  bottom: 1px;
  top: 3px;
}
.contact-us {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 14.5px;
  width: 163.96px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 189.63px;
  top: calc(50% - 8px);
  overflow: visible;
}
.item-menuitem3 {
  background: #ffffff;
  position: absolute;
  right: 480.67px;
  left: 726.6898803710938px;
  bottom: 1px;
  top: 3px;
}
.more {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 75.96px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  background: #ffffff;
  flex-shrink: 0;
  width: 1440px;
  height: 347px;
  position: relative;
  overflow: hidden;
}
.sl-030822-49070-19-2 {
  width: 1440px;
  height: 347px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.maximo-7-6-security-model {
  color: #ffffff;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 50px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 83px;
}
.body {
  flex-shrink: 0;
  width: 1440px;
  height: 1646px;
  position: relative;
  overflow: hidden;
}
.maximo-administators {
  color: #1d7ed8;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 476px;
  top: 1609px;
}
.maximo-administators2 {
  color: #1d7ed8;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 774px;
  top: 1610px;
}
.related-learning {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 647px;
  top: 1543px;
}
.rectangle-33 {
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 979px;
  height: 614px;
  position: absolute;
  left: 260px;
  top: 915px;
  object-fit: cover;
}
.rectangle-34 {
  background: rgba(203, 175, 28, 0.5);
  width: 208px;
  height: 34px;
  position: absolute;
  left: 621px;
  top: 1237px;
}
.time-choice {
  width: 528px;
  height: 735px;
  position: absolute;
  left: 492px;
  top: 893px;
}
.rectangle-41 {
  background: #d9d9d9;
  width: 132px;
  height: 49px;
  position: absolute;
  left: 220px;
  top: 0px;
}
.button {
  background: #cbaf1c;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 352px;
  top: 0px;
  overflow: hidden;
}
.button-content {
  padding: 15px 64px 15px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button2 {
  color: var(--text-text-inverse, #ffffff);
  text-align: left;
  font-family: var(
    --body-styles-body-compact-01-font-family,
    "IbmPlexSans-Regular",
    sans-serif
  );
  font-size: var(--body-styles-body-compact-01-font-size, 14px);
  line-height: var(--body-styles-body-compact-01-line-height, 18px);
  font-weight: var(--body-styles-body-compact-01-font-weight, 400);
  position: relative;
}
.icon {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  right: 16px;
  top: calc(50% - 8px);
  overflow: hidden;
}
.add {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.rectangle-40 {
  background: #d9d9d9;
  width: 211px;
  height: 49px;
  position: absolute;
  left: 13px;
  top: 0px;
}
.rectangle-39 {
  background: #cbaf1c;
  width: 211px;
  height: 49px;
  position: absolute;
  left: 13px;
  top: 0px;
}
._14-17 {
  color: #5f5f5f;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 250px;
  top: 16px;
}
.select-a-date-to-enroll {
  color: #ffffff;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 11px;
}
.choose-a-session {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 40px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 505px;
  top: 823px;
}
.objectives {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 494px;
}
.simulation-1-security-overview-is-marked-complete-simulation-2-security-group-design-is-marked-complete-simulation-3-creating-security-groups-is-marked-complete-simulation-4-security-group-options-is-marked-complete-simulation-5-conditional-security-is-marked-complete-simulation-6-self-registration-is-marked-complete-simulation-7-global-data-restrictions-is-marked-complete-simulation-8-user-creation-is-marked-complete-simulation-9-creating-users-through-ldap-is-marked-complete-simulation-10-authentication-and-authorization-is-marked-complete {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 487px;
  top: 526px;
}
.course-details {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 40px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 335px;
}
.consultants-system-administrators-support-technical-sales {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 441px;
}
.audience {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 409px;
}
.this-course-discusses-the-various-security-aspects-of-an-asset-management-system-to-include-identifying-the-number-of-security-groups-security-group-creation-integration-with-ldap-repositories-and-using-conditional-expression-the-course-is-delivered-via-interactive-simulations-where-you-have-an-opportunity-to-learn-and-potentially-interact-with-the-system-while-we-lead-you-through-the-functionality-at-the-end-you-can-test-your-knowledge-by-completing-the-short-quizzes-these-simulations-may-aid-you-in-preparing-for-certification-on-the-product {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  width: 600px;
  height: auto;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 233px);
  top: 111px;
}
.course-overview {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 40px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 501px;
  top: 63px;
}
.scroll-wheel {
  width: 160px;
  height: 217px;
  position: absolute;
  left: 1247px;
  top: 43px;
}
.course-details2 {
  color: #262626;
  text-align: right;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 115px;
}
.overview {
  color: #262626;
  text-align: right;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 28px;
  top: 20px;
}
.rectangle-32 {
  background: #cbaf1c;
  width: 5px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-35 {
  background: #d9d9d9;
  width: 5px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 67px;
}
.badge-frame {
  background: #f0f0f0;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 401px;
  height: 516px;
  position: absolute;
  left: 39px;
  top: 64px;
  overflow: hidden;
}
.line-10 {
  border-style: solid;
  border-color: #9f9b9b;
  border-width: 1px 0 0 0;
  width: 349px;
  height: 0px;
  position: absolute;
  left: 20px;
  top: 220px;
  transform-origin: 0 0;
  transform: rotate(0.163deg) scale(1, 1);
}
.rectangle-36 {
  background: #cbaf1c;
  width: 401px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.request-quote {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 253px;
  top: 322px;
}
.basic {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 71px;
  top: 260px;
}
._3-days {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 71px;
  top: 323px;
}
.price-tag-3-line-1-2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 221px;
  top: 320px;
  overflow: visible;
}
.course-code-w-0107-g {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 71px;
  top: 442px;
}
.line-8 {
  border-style: solid;
  border-color: #9f9b9b;
  border-width: 1px 0 0 0;
  width: 349px;
  height: 0px;
  position: absolute;
  left: 20px;
  top: 391px;
  transform-origin: 0 0;
  transform: rotate(0.163deg) scale(1, 1);
}
.time-line-2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 35px;
  top: 320px;
  overflow: visible;
}
.numbers-line-2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 35px;
  top: 254px;
  overflow: visible;
}
.ilo {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 300;
  position: absolute;
  left: 253px;
  top: 260px;
}
.maximo-7-6-security-model2 {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  width: 300px;
  height: auto;
  position: absolute;
  left: 35px;
  top: 37px;
}
.pages-line-2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 221px;
  top: 258px;
  overflow: visible;
}
.footer {
  background: #ced3d6;
  flex-shrink: 0;
  width: 1440px;
  height: 250px;
  position: relative;
}
.info {
  width: 982px;
  height: 37px;
  position: absolute;
  left: 261px;
  top: 213px;
  overflow: hidden;
}
.longdale-st-midstream-estate-centurion-pretoria-gauteng-south-africa-1692 {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 3px;
  top: 0px;
}
.info-cyberretaliatorsolutions-com {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 579px;
  top: 0px;
}
._27-72-266-2599 {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 850px;
  top: 0px;
}
.socials {
  width: 189px;
  height: 21px;
  position: absolute;
  left: 1210px;
  top: 32px;
  overflow: visible;
}
.links {
  width: 709px;
  height: 58px;
  position: absolute;
  left: 402px;
  top: 19px;
}
.crs-training-sitemap {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 443px;
  top: 17px;
}
.crs-training-sitemap-span {
  color: #000000;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
}
.crs-training-sitemap-span2 {
  color: #000000;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.terms-and-conditions {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 269px;
  top: 17px;
}
.privacy {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 195px;
  top: 17px;
}
.news {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 134px;
  top: 17px;
}
.home2 {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 71px;
  top: 18px;
}
.cyber-security-companies-cyber-security-network-security-cybersecurity-for-beginners-near-me-crs-za-2-3 {
  width: 158px;
  height: 102px;
  position: absolute;
  left: 0px;
  top: 7px;
  object-fit: cover;
}
.whats-app-image-2024-04-24-at-16-00 {
  width: 607px;
  height: 102px;
  position: absolute;
  left: 449px;
  top: 94px;
  object-fit: cover;
}



.source-badge-page,
.source-badge-page * {
  box-sizing: border-box;
}
.source-badge-page {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.nav {
  flex-shrink: 0;
  width: 1440px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.list-ibm-platform-name {
  width: 1319px;
  height: 51px;
  position: absolute;
  left: 121px;
  top: 49px;
  overflow: hidden;
}
.item-link-menu-start-training {
  background: #ffffff;
  position: absolute;
  right: 1160.7px;
  left: 14.1298828125px;
  bottom: 1px;
  top: 3px;
}
.home {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 14.5px;
  width: 84.5px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 110.17px;
  top: calc(50% - 8px);
  overflow: visible;
}
.item-menuitem {
  background: #ffffff;
  position: absolute;
  right: 923.67px;
  left: 237.65988159179688px;
  bottom: 1px;
  top: 3px;
}
.container {
  height: 18px;
  position: absolute;
  right: 18px;
  left: 18px;
  top: calc(50% - 9px);
  overflow: hidden;
}
.solution {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 122.06px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 61.34px;
  top: calc(50% - 6.5px);
  overflow: visible;
}
.item-menuitem2 {
  background: #ffffff;
  position: absolute;
  right: 815.94px;
  left: 395.32989501953125px;
  bottom: 1px;
  top: 3px;
}
.traning {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 14.5px;
  width: 72.04px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 73.67px;
  top: calc(50% - 7.5px);
  overflow: visible;
}
.item-link-menu-partner-plus-learning-hub {
  background: #ffffff;
  position: absolute;
  right: 592.31px;
  left: 503.05987548828125px;
  bottom: 1px;
  top: 3px;
}
.contact-us {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 14.5px;
  width: 163.96px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 189.63px;
  top: calc(50% - 8px);
  overflow: visible;
}
.item-menuitem3 {
  background: #ffffff;
  position: absolute;
  right: 480.67px;
  left: 726.6898803710938px;
  bottom: 1px;
  top: 3px;
}
.more {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 75.96px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cyber-security-companies-cyber-security-network-security-cybersecurity-for-beginners-near-me-crs-za-2-1 {
  width: 65px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.crs-training {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 63.5px;
  width: 83.46px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.crs-training-span {
  color: #262626;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.crs-training-span2 {
  color: #262626;
  font-family: "IbmPlexSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.vector {
  width: 0.88%;
  height: 17.69%;
  position: absolute;
  right: 1.26%;
  left: 97.87%;
  bottom: 69.16%;
  top: 13.15%;
  overflow: visible;
}
.vector2 {
  width: 1.18%;
  height: 17.08%;
  position: absolute;
  right: 4.63%;
  left: 94.19%;
  bottom: 69.79%;
  top: 13.13%;
  overflow: visible;
}
.vertical-divider {
  background: #aeaeae;
  width: 1px;
  height: 24.26%;
  position: absolute;
  left: 119.13px;
  bottom: 11.56%;
  top: 64.18%;
}
.vertical-divider2 {
  background: #aeaeae;
  width: 1px;
  height: 24.26%;
  position: absolute;
  left: 119.13px;
  bottom: 13.59%;
  top: 62.16%;
}
.body {
  flex-shrink: 0;
  width: 1440px;
  height: 1056px;
  position: relative;
  overflow: hidden;
}
.io-t-banner {
  width: 1440px;
  height: 251px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.oip-2 {
  width: 1920px;
  height: 252px;
  position: absolute;
  left: 0px;
  top: 2px;
  object-fit: cover;
}
.link-credentials {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 235px;
  top: 66px;
  width: 73.79px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 300.48px;
  top: 142px;
  width: 5.84px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.io-t-maximo-domains {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Light", sans-serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 300;
  position: absolute;
  left: 33px;
  top: 122px;
  width: 477.28px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-ibm-training {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 131.89px;
  top: 66px;
  width: 81.91px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div2 {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 221.47px;
  top: 66px;
  width: 5.84px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.badge {
  background: #10120d;
  width: 277px;
  height: 394px;
  position: absolute;
  left: 35px;
  top: 365px;
  overflow: hidden;
}
.view-additional-information {
  color: #ffffff;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 306px;
  width: 112px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector3 {
  width: 3.61%;
  height: 2.54%;
  position: absolute;
  right: 33.94%;
  left: 62.45%;
  bottom: 16.75%;
  top: 80.71%;
  overflow: visible;
}
.io-t-maximo-domains2 {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 255px;
  width: 161.02px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cyber-badges-1 {
  width: 195px;
  height: 206px;
  position: absolute;
  left: 40px;
  top: 49px;
  object-fit: cover;
}
.badge2 {
  color: #9d8c41;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: -2px;
  width: 171px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.scroll-wheel {
  width: 246.6px;
  height: 145px;
  position: absolute;
  left: 1155px;
  top: 383px;
}
.link-overview {
  color: #525252;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 17px;
  width: 67.07px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-skills {
  color: #525252;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 35px;
  top: 65px;
  width: 38.48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-what-it-takes-to-earn-this-badge {
  color: #161616;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 113px;
  width: 226.6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-35 {
  background: #d9d9d9;
  width: 5px;
  height: 145px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-32 {
  background: #cbaf1c;
  width: 5px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 97px;
}
.badge-overview {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  left: 351px;
  top: 308px;
  width: 232.26px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph-overview {
  color: #262626;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 351px;
  top: 440px;
  width: 756px;
  height: 161px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skills {
  height: 88px;
  position: absolute;
  right: 730.41px;
  left: 342px;
  top: 664px;
}
.background {
  background: #e0e0e0;
  border-radius: 15px;
  width: 159.25px;
  height: 24px;
  position: absolute;
  left: 4px;
  top: calc(50% - -16px);
}
.application-development {
  color: #393939;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 3.5px;
  width: 143.56px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background2 {
  background: #e0e0e0;
  border-radius: 15px;
  width: 124.39px;
  height: 24px;
  position: absolute;
  left: 170.25px;
  top: calc(50% - -16px);
}
.asset-management {
  color: #393939;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 3.5px;
  width: 108.76px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background3 {
  background: #e0e0e0;
  border-radius: 15px;
  width: 90.66px;
  height: 24px;
  position: absolute;
  left: 301.64px;
  top: calc(50% - -16px);
}
.implementer {
  color: #393939;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 3.5px;
  width: 74.98px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background4 {
  background: #e0e0e0;
  border-radius: 15px;
  width: 119.88px;
  height: 24px;
  position: absolute;
  left: 399.3px;
  top: calc(50% - -16px);
}
.internet-of-things {
  color: #393939;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 3.5px;
  width: 104.24px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background5 {
  background: #e0e0e0;
  border-radius: 15px;
  width: 60.36px;
  height: 24px;
  position: absolute;
  left: 526.17px;
  top: calc(50% - -16px);
}
.maximo {
  color: #393939;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 3.5px;
  width: 44.7px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background6 {
  background: #e0e0e0;
  border-radius: 15px;
  width: 114.25px;
  height: 24px;
  position: absolute;
  left: 593.53px;
  top: calc(50% - -16px);
}
.pwid-b-0147000 {
  color: #393939;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 3.5px;
  width: 98.6px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.skills2 {
  color: #161616;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 76.62px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sction-2 {
  width: 781.3px;
  height: 115.95px;
  position: absolute;
  left: 342px;
  top: 816px;
}
.what-it-takes-to-earn-this-badge {
  color: #161616;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 452.8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-successful-completion-of-the-asset-management-course-maximo-7-6-domains-and-lookups-consisting-of-the-following {
  color: #0062fe;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 16px;
  top: 55px;
  width: 765.3px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  color: #161616;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 56px;
  width: 8.8px;
  height: 19.98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-completion-of-the-quiz-at-the-end-of-each-simulation-and-receive-a-score-of-100 {
  color: #0062fe;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 16px;
  top: 74.98px;
  width: 524.47px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div4 {
  color: #161616;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 75.98px;
  width: 8.8px;
  height: 19.98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-completion-of-the-end-of-course-test-and-receive-a-score-of-80-or-higher {
  color: #0062fe;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 16px;
  top: 94.97px;
  width: 479.48px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div5 {
  color: #161616;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 95.97px;
  width: 8.8px;
  height: 19.98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  background: #ced3d6;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  flex-shrink: 0;
  width: 1440px;
  height: 250px;
  position: relative;
}
.whats-app-image-2024-04-24-at-16-00 {
  width: 607px;
  height: 102px;
  position: absolute;
  left: 449px;
  top: 94px;
  object-fit: cover;
}
.cyber-security-companies-cyber-security-network-security-cybersecurity-for-beginners-near-me-crs-za-2-3 {
  width: 158px;
  height: 102px;
  position: absolute;
  left: 0px;
  top: 7px;
  object-fit: cover;
}
.links {
  width: 709px;
  height: 58px;
  position: absolute;
  left: 402px;
  top: 19px;
}
.crs-training-sitemap {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 443px;
  top: 17px;
}
.crs-training-sitemap-span {
  color: #000000;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
}
.crs-training-sitemap-span2 {
  color: #000000;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.terms-and-conditions {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 269px;
  top: 17px;
}
.privacy {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 195px;
  top: 17px;
}
.news {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 134px;
  top: 17px;
}
.home2 {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 71px;
  top: 18px;
}
.socials {
  width: 189px;
  height: 21px;
  position: absolute;
  left: 1210px;
  top: 32px;
  overflow: visible;
}
.info {
  width: 982px;
  height: 37px;
  position: absolute;
  left: 261px;
  top: 213px;
  overflow: hidden;
}
.longdale-st-midstream-estate-centurion-pretoria-gauteng-south-africa-1692 {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 3px;
  top: 0px;
}
.info-cyberretaliatorsolutions-com {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 579px;
  top: 0px;
}
._27-72-266-2599 {
  color: #000000;
  text-align: left;
  font-family: "IbmPlexSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 850px;
  top: 0px;
}
