
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url('assets/7 (3).png');
    background-size: cover;
    background-position: center;

}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.content {
    flex-grow: 1;
  }
  

.navbar {
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px;
    box-sizing: border-box;
    
}
.navlink{  display: flex;}
.links {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 
}
  
.navbar .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.navbar img {
    width: 100px;
    height: 60px;
    margin-top: 5px;
    margin-right: 40px;
}

.navbar a {
    list-style-type: none;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    display: flex;
    
 
    
}

.navbar a {
  
    padding-right: 20px;
    border-right: 1px solid #A48D2F;
}

.navbar a:last-child {
    margin-right: 0;
    border-right: none;
}

.navbar  a {
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    position: relative; /* Relative positioning for the pseudo-element */
}

.navbar a:hover::after {
    content: " "; /* Add text after the link text when hovered */
    position: absolute;
    left: 0;
    bottom: 1px; /* Position the line under the text */
    height: 0.5px; /* Line thickness */
    width: 60%; /* Line width */
    background-color: #A48D2F; /* Line color */
  }

  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  .dropdown-content a {
    float: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 0px;
    border-right: 1px solid transparent;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
.dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: black;
   
    border-right: 1px solid #A48D2F;

  
    background-color: inherit;
    font-family: inherit;
   margin-right: 40px;
   padding-right: 20px;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
.dropdown:hover .dropdown-content {

  display: block;
}

.navbar .search-icon {
    cursor: pointer;
}

.navbar .search-box {
    display: none;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #A48D2F;
    background: transparent;
    outline: none;
} 

/* body */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
}

.centered-img {
    width: 360px;
    height: 200px;
}

/* our solutions containers*/
.oursolutions {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
}

.oursolutions h1 {
    color: #C8C48C;
}

.container3 {

display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-top: 10px;


}

.box1 {

    width: 555px;
    height: 312px;
    position: flex;
    margin: 20px;
   
}

.box1 img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.centered-img1 {
    width: 250px;
    height: 150px;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

.text1 {
   
    display: flex;
    justify-content: center;
    align-items: center;
   color: #C8C48C;

}

.text2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
   color: #ffffff;
   opacity: 20%;

}

/* footer */
.footer {
    flex-shrink: 0;
    width: 100%; /* Full width */
    height: 250px;
    background-color: white;
    position: relative;
    
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }

  .nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center; /* Center the nav */
    width: 100%; /* Full width */
    position: absolute;
    top: 0;
    margin-top: 20px;
  }
  
  .nav2 li {
    display: inline;
    margin-right: 10px; /* Space between items */
  }
  
  .nav2 li a {
    text-decoration: none;
    color: black;
    position: relative; /* Relative positioning for the pseudo-element */
  }
  
  .nav2 li a:hover::after {
    content: " "; /* Add text after the link text when hovered */
    position: absolute;
    left: 0;
    bottom: -5px; /* Position the line under the text */
    height: 6px; /* Line thickness */
    width: 100%; /* Line width */
    background-color: #A48D2F; /* Line color */
  }

  .footer .image {
    width: 607px;
    height: 102px;
    margin-top: 10px; /* Space between nav and image */
    margin-left: 50px;
  }

  .contact-info {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 60%; /* Adjust as needed */
    font-size: 0.9em; /* Smaller text size */
    margin-top: 180px; /* Space between image and contact info */
  }
  
  .footer .top-left-image {
    width: 180px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }
  
  .link-images {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .link-images img {
    width: 20px;
    height: 20px;
    margin-left: 5px; /* Space between images */
  }
